@model List<BuchViewModel>

    <h1>Bücher</h1>

    <table>
        <tr>
            <th>Titel</th>
            <th>Verliehen an</th>
            <th>am</th>
            <th></th>
        </tr>
        @foreach(var buch in Model) 
        {
            <tr data-id="@buch.Id">
                <td>@buch.Titel</td>
                <td>@buch.VerliehenAn</td>
                <td>@buch.VerliehenAm</td>
                <td>
                    <button class="log">Log</button>
                </td>
            </tr>
        }
    </table>
    <button id="new">Neu</button>

    <table id="log">

    </table>
    
@section scripts 
{
    <script>
        $(document).on("click", "#new", () => {
            var titel = prompt("Titel eingeben:");
            $.post("/Home/New", { titel: titel }, () => {
                window.location.reload();
            });
        });

        $(document).on("click", ".log", function() {
            var id = $(this).closest("tr").data("id");
            console.log(id);
            $.get("/Home/Log", { id: id }, result => {
                console.log(result);
                for(var i = 0; i < result.length; i++)
                {
                    var tr = $("<tr>");
                    tr.append($("<td>").text(result[i].ereignis));
                    tr.append($("<td>").text(result[i].datum));
                    tr.append($("<td>").text(result[i].daten));
                    $("#log").append(tr);
                }                
            });
        });
    </script>
}